@import '../abstract/variables';

body {
  margin: 0;
  color: $font-color;
}

@keyframes toast {
  0% {
    top: -10px;
  }
}

@-webkit-keyframes toast {
  0% {
    top: -10px;
  }
}

.toast__message {
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  z-index: 9999;
  position: absolute;
  top: 5px;
  left: 30%;
  -webkit-animation-name: toast;
  -webkit-animation-duration: 1s;
  animation-name: toast;
  animation-duration: 1s;

  &_error {
    background-color: red;
    border: solid thin red;
  }

  &_success {
    background-color: #00ab80;
    border: solid thin#00ab80;
  }
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

::placeholder {
  font-size: 14px;
}

.form-control:focus {
  border-color: #ced4da;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h5 {
  font-weight: bold;
  margin: 0;
}

.btn-primary {
  background-color: #00ab80;
  border-color: #00ab80;
  font-weight: 700;
  width: 150px !important;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #009770;
  border-color: #009770;
  font-weight: 700;
  font-size: 14px;
}

.btn-general {
  color: #00ab80;
  background-color: #ffffff;
  border-color: #009770;
  font-weight: 700;
  width: 150px !important;
  font-size: 14px;
}

.btn-general:hover {
  color: #00ab80;
  background-color: rgba(0, 171, 128, 0.1);
  border-color: #009770;
  font-weight: 700;
  font-size: 14px;
}
