/*
Variables
---------------------------------
This file is responsible for storing the global variables used.

*/

$font-family: '';
$font-color: #4a4a4a;
$border-color: #e4e4e4;
$background-color: #fafafa;
