.App {
  color: #4a4a4a;
  /* font-family: Lato, sans-serif; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Main-dashboard {
  margin: 10px 10% 0 10%;
  padding: 0 20% 0 20%;
}

.grade-form {
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  background-color: #ffffff;
}

.grade-form__header {
  background-color: #fafafa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  border-bottom: solid thin #e4e4e4;
}

.grade-form__body {
  padding: 20px;
}

.grade-form__body-1 {
  padding: 20px;
  background-color: #fafafa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toast__error-msg {
  color: white;
  background-color: red;
  border: solid thin red;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  left: 0;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

::placeholder {
  font-size: 14px;
}

.form-control:focus {
  border-color: #ced4da;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h5 {
  font-weight: bold;
  margin: 0;
}

.btn-primary {
  background-color: #00ab80;
  border-color: #00ab80;
  font-weight: 700;
  width: 150px !important;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #009770;
  border-color: #009770;
  font-weight: 700;
  font-size: 14px;
}

.btn-general {
  color: #00ab80;
  background-color: #ffffff;
  border-color: #009770;
  font-weight: 700;
  width: 150px !important;
  font-size: 14px;
}

.btn-general:hover {
  color: #00ab80;
  background-color: rgba(0, 171, 128, 0.1);
  border-color: #009770;
  font-weight: 700;
  font-size: 14px;
}
